# External Next.js API Backend
VITE_NEXT_API_URL="https://api.themavia.com/"

# PayPal Configuration
VITE_PAYPAL_CLIENT_ID=AfpXpg1Ss5TJmaMAEijrJ4ygRHHsM9HrsAgtnvluw6pHqRcwFWlxajuJlxcVOz2zAVXuqj15IaWNCrS4
PAYPAL_CLIENT_SECRET=
PAYPAL_API_URL=https://api-m.sandbox.paypal.com

# SMTP Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=support@themavia.com
